body
{
  font-family: 'Allerta', sans-serif;
  
}

.titulo {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}
.title-a
{
  font-size: 24px;
}

.guitarras h2
{
  font-size: 35px;
}
.title-b
{
  font-size: 50px;
}
.portada
{
  background-image: url('../images/background.png');
  color: white;

}
.guitarras
{
  color: #1F313C;
}
.menu li
{
  font-size: 24px;
  display: inline-block;
}

.titulo2
{
  font-family: 'Montserrat', sans-serif;
}
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Allerta', sans-serif;*/
.menu
{
  display: inline-block;
}
.logotipos
{
  display: inline-block;
}
